<!-- componente 1: Header -->
<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Panel de Control</ion-title>
  </ion-toolbar>
</ion-header>

<!-- componente 2: Content -->
<ion-content [fullscreen]="true">

  <!-- componente 3: Searchbar -->
  <ion-searchbar placeholder="Buscar datos..."></ion-searchbar>

  <!-- componente 4: Card -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Resumen de Análisis</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Bienvenido a tu plataforma de visualización.
    </ion-card-content>
  </ion-card>

  <!-- componente 5: List -->
  <ion-list>

    <!-- componente 6: Item Notificaciones -->
    <ion-item>
      <ion-icon name="notifications" slot="start"></ion-icon>
      <ion-label>Notificaciones</ion-label>
      <ion-badge color="danger" slot="end">5</ion-badge>
    </ion-item>

    <!-- componente 7: Toggle -->
    <ion-item>
      <ion-toggle [checked]="true">Activar Reportes Reales</ion-toggle>
    </ion-item>

    <!-- componente 8: Checkbox -->
    <ion-item>
      <ion-checkbox labelPlacement="end">Confirmar lectura</ion-checkbox>
    </ion-item>

  </ion-list>

  <!-- componente 9: Input -->
  <ion-item>
    <ion-input label="ID de Usuario" placeholder="Ingresa tu ID"></ion-input>
  </ion-item>

  <!-- componente 10: Range -->
  <ion-item>
    <ion-range aria-label="Rango" min="0" max="100" [pin]="true"></ion-range>
  </ion-item>



</ion-content>
